<% include partials/header %>

<h1>Required help - moving list page</h1>

<a href="/help/new">Add a required help</a>

<ol>
<% helpers.forEach(function(helper){ %>
		<div>
			<li><%=helper.name %>
			<%= helper.phoneNumber %>
			<%= helper.item %>
			<%= helper.from %>
			<%= helper.to %>
			<%= helper.when %>
			</li>
		</div>
<% }); %>
</ol>

<div>
<a href="/">Home</a>
</div>
<div>
<a href="/movers">View All Movers</a>
</div>

<% include partials/footer %>
