<% include partials/header %>

<h1>Required help - moving list page</h1>

<ol>
<% helpers.forEach(function(helper){ %>
		<div>
			<li><%=helper.name %>
			<%= helper.phoneNumber %>
			<%= helper.item %>
			<%= helper.from %>
			<%= helper.to %>
			<%= helper.when %>
			</li>
		</div>
<% }); %>
</ol>


<a href="/">Home</a>
<a href="/movers">View All Movers</a>

<% include partials/footer %>
